:root {
    --theme-bold: #000000;
    --theme-background: #121212;
    --theme-section: rgba(255, 255, 255, 0.08);
    --theme-border: #333333;
    --theme-shade: #7c7c7c;
    --theme-foreground: #ffffff;
    --theme-text: #aaaaaa;
    --theme-hover: rgba(255, 255, 255, 0.16);

    --palette-blue: #11a0c9;
    --palette-blue-alpha: rgba(17, 160, 201, 0.08);
    --palette-orange: #f89715;
    --palette-green: #1f7f45;
    --palette-red: #bc3636;

    --aside-width: 16rem;
    --max-width: 50rem;
}

#root,
.carousell > header,
.carousell > footer {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
}

aside > header,
aside > header a,
aside > section a,
.sign-warn,
.sign-info,
main > header,
.grid-2 > article,
.grid-2 > article > div,
main > .logo,
.carousell > footer > div,
main .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

aside > section,
main,
.carousell,
main .row > div {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0.5rem;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1;
}

h3 {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1;
}
