@media only screen and (max-width: 82rem) {
  #root {
    justify-content: start;
  }

  main {
    margin-right: 0;
  }
}

@media only screen and (max-width: 60rem) {
  :root {
    --aside-width: 4rem;
  }

  #root {
    justify-content: center;
  }

  aside .desktop-only {
    display: none;
  }
}

@media only screen and (max-width: 45rem) {
  main .desktop-only {
    display: none;
  }
}

@media only screen and (max-width: 40rem) {
  #root {
    justify-content: start;
  }

  #root > * {
    min-width: 100vw;
  }

  aside .desktop-only {
    display: flex;
  }

  .touch-only {
    display: flex;
  }
}

@media only screen and (max-width: 32rem) {
  .grid-2 {
    grid-template-columns: auto;
  }

  .grid-2 > *:nth-child(2),
  .grid-2 > *:nth-last-child(2) {
    border-radius: 0;
  }

  .grid-2 > *:first-child {
    border-radius: 1rem 1rem 0 0;
  }

  .grid-2 > *:last-child {
    border-radius: 0 0 1rem 1rem;
  }

  main > .logo {
    flex-direction: column;
  }

  main > .logo svg {
    transform: rotate(90deg);
  }

  .hide-on-phone {
    display: none !important;
  }
}
