.widget-item,
.widget-button,
.widget-topic,
.widget-tab {
  cursor: pointer;
  color: inherit;
}

.widget-button:focus,
.widget-topic:focus,
.widget-input:focus,
.widget-topic.is-selected {
  outline: 2px solid var(--theme-highlight);
}

.widget-button {
  transition: background-color 200ms;
  background-color: transparent;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.8rem;
}

.widget-button:hover {
  background-color: var(--theme-hover);
}

.widget-button.is-icon {
  padding: 0.5rem;
}

.widget-topic {
  transition:
    border-radius 400ms,
    filter 400ms;
  background-color: transparent;
  padding: 0;
  overflow: hidden;
  border: 2px solid transparent;
  filter: saturate(0.5);
  border-radius: 0.8rem;
}

.widget-topic:hover,
.widget-topic:focus {
  border-radius: 2rem;
  filter: none;
}

.widget-topic.is-selected {
  filter: none;
}

.widget-input {
  background-color: var(--theme-section);
  border-radius: 0.5rem;
  color: inherit;
  padding: 0.5rem 1rem 0.5rem 3rem;
  border: none;
  font-weight: 400;
  width: 100%;
}

.widget-input:focus {
  color: var(--theme-highlight);
}

.widget-input + label {
  position: absolute;
  margin-left: 1rem;
}

.widget-tab {
  transition: background-color 200ms;
  border-radius: 0;
  background-color: transparent;
  border: none;
  font-weight: 400;
  padding: 0.5rem;
  color: var(--theme-shade);
}

.widget-tab:first-child {
  border-radius: 0.5rem 0 0 0;
}

.widget-tab:last-child {
  border-radius: 0 0.5rem 0 0;
}

.widget-tab:hover {
  background-color: var(--theme-hover);
}

.widget-tab.is-selected {
  color: var(--theme-highlight);
  background-color: var(--theme-border);
}

.widget-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 0.5rem 1rem;
  gap: 1rem;
  font-weight: 400;
  color: var(--theme-highlight);
  border-radius: 0.5rem;
}

.widget-item svg {
  color: var(--theme-shade);
}

.widget-item:hover {
  background-color: var(--theme-hover);
}

.widget-item.is-selected {
  background-color: var(--theme-section);
}
