#root {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: center;
}

aside header,
aside a,
main > header span {
	display: flex;
	flex-direction: row;
	align-items: center;
}

aside,
main {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.navigation-button,
main > header {
	align-items: center;
	justify-content: center;
}

a:hover,
a:focus,
aside header a:hover,
aside header a:focus {
	text-decoration: underline;
	text-decoration-color: var(--current-highlight-color);
	text-decoration-thickness: 2px;

	.icon {
		color: var(--current-highlight-color);
	}
}

a:focus,
a[data-selected="true"],
aside header a:focus,
aside header a[data-selected="true"],
.navigation-button:focus {
	color: var(--current-highlight-color);
	outline: none;
}
