#root {
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

aside header,
aside a {
	display: flex;
	flex-direction: row;
	align-items: center;
}

aside,
main {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.navigation-button {
	align-items: center;
	justify-content: center;
}

a:hover,
aside header a:hover {
	text-decoration: underline;
	text-decoration-color: var(--fg-orange-bright);
	text-decoration-thickness: 2px;
}

a:focus,
a.--selected,
aside header a:focus,
aside header a.--selected,
.navigation-button:focus {
	color: var(--fg-orange-bright);
}
