@media only screen and (max-width: 82rem) {
	#root {
		justify-content: start;
	}

	main {
		margin-right: 0;
	}
}

@media only screen and (max-width: 70rem) and (min-width: 40rem) {
	:root {
		--sidebar-width: 4rem;
	}

	#root {
		justify-content: center;
	}

	aside .--desktop-only {
		display: none !important;
	}

	aside header {
		padding-left: 0;
	}

	aside header,
	aside a {
		justify-content: center;
	}

	aside > a .icon:first-child {
		opacity: 1;
	}
}

@media only screen and (max-width: 40rem) {
	#root {
		justify-content: start;
	}

	aside,
	main {
		min-width: calc(100vw - 2rem);
	}

	.navigation-button {
		display: flex;
	}
}
