<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="user-scalable=yes, initial-scale=1.0, width=device-width" />
		<meta name="author" content="BubbleFish" />
		<meta name="description" content="My personal website containing my work" />

		<title>[[ this.title ]] — bbfh.me</title>
		<link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
		<link href="/assets/styles/01_reset.min.css?checksum=[[ root.checksums.style_reset ]]" rel="stylesheet" />
		<link href="/assets/styles/02_fonts.min.css?checksum=[[ root.checksums.style_fonts ]]" rel="stylesheet" />
		<link href="/assets/styles/03_utils.min.css?checksum=[[ root.checksums.style_utils ]]" rel="stylesheet" />
		<link href="/assets/styles/50_main.min.css?checksum=[[ root.checksums.style_main ]]" rel="stylesheet" />
		<link href="/assets/styles/51_shared.min.css?checksum=[[ root.checksums.style_shared ]]" rel="stylesheet" />
		<link href="/assets/styles/99_responsive.min.css?checksum=[[ root.checksums.style_responsive ]]" rel="stylesheet" />

		<script src="/assets/scripts/index.js?checksum=[[ root.checksums.script_index ]]" defer></script>
	</head>

	<body>
		<div id="root">
			<pkg:sidebar :title="[[ this.title ]]" />
			<main>
				<header>
					<button onclick="scrollOnMobile(false);" class="navigation-button" title="Open sidebar">
						<mend:include :src="icons/menu_hamburger.svg" />
					</button>
					<span>
						<mend:include :src="icons/hashtag.svg" />
						<span>[[ this.title ]]</span>
					</span>
				</header>
				<hr />
				<mend:slot />
			</main>
		</div>
	</body>

</html>
